### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [24]:
#Need to find unique SNs due to potential multiple purchases 
number_of_players = len(purchase_data["SN"].value_counts())


print(f"The total number of players is " + str(number_of_players) +".")

The total number of players is 576.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [139]:
number_of_items=len(purchase_data["Item ID"].value_counts())
average_price=round(purchase_data["Price"].mean(),2)
number_of_purchases=purchase_data["Price"].count()
total_revenue=purchase_data["Price"].sum()




summary_df=pd.DataFrame({"Number of Unique Items": [number_of_items], 
                         "Average Purchase Price": [average_price], 
                         "Total Number of Purchases": [number_of_purchases],
                        "Total Revenue": [total_revenue]})

clean_summary_df=summary_df.style.format({
                         "Average Purchase Price": "${:,.2f}",
                         "Total Revenue": "${:,.2f}"})

clean_summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [52]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [86]:
gender=purchase_data.groupby("Gender")
gender_count=gender["SN"].nunique()
gender_count

gender_percent=round(gender_count/number_of_players*100,2)

gender_percent

gender_stats = pd.DataFrame({"Percentage of Players": gender_percent, 
                             "Total Count": gender_count})
gender_stats

                       Percentage of Players  Total Count
Gender
Female                                 14.06           81
Male                                   84.03          484
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [152]:
purchase_count_by_gender=gender["Purchase ID"].count()
purchase_price_avg_by_gender=round(gender["Price"].mean(),2)
total_purchase_gender=gender["Price"].sum()
average_purchase_by_gender=round(total_purchase_gender/purchase_unique,2)

purchase_unique=gender["SN"].nunique()


purchase_gender_df=pd.DataFrame({"Purchase Count": purchase_count_by_gender, 
                                "Average Purchase Price": purchase_price_avg_by_gender,
                                "Total Purchase Value": total_purchase_gender,
                                "Average Purchase Total per Person": average_purchase_by_gender})


clean_purchase_gender_df=purchase_gender_df.style.format({
                         "Average Purchase Price": "${:,.2f}",
                         "Total Purchase Value": "${:,.2f}",
                         "Average Purchase Total per Person": "${:,.2f}"})

clean_purchase_gender_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [133]:
bin_ages = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bin_ages, labels=bin_names)

grouped_ages = purchase_data.groupby("Age Group")
grouped_ages.head()

purchase_count_age=grouped_ages["SN"].nunique()
percentage_age=round(purchase_count_age/number_of_players*100,2)

age_stats=pd.DataFrame({"Total Count": purchase_count_age, 
                       "Percentage of Players": percentage_age})



age_stats

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
bin_ages = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bin_ages, labels=bin_names)

grouped_ages = purchase_data.groupby("Age Group")
grouped_ages.head()

purchase_count_age=grouped_ages["SN"].nunique()
avg_purchase_count_age=grouped_ages["Price"].mean()
total_purchase_age=grouped_ages["Price"].sum()
avg_per_age=total_purchase_age/purchase_count_age

age_demo_df=pd.DataFrame({"Purchase Count": purchase_count_age, 
                         "Average Purchase Price": avg_purchase_count_age,
                         "Total Purchase Value": total_purchase_age,
                         "Average Purchase Total per Person by Age Group": avg_per_age})

"${:,.2f}"



clean_age_demo=age_demo_df.style.format({
                         "Average Purchase Price": "${:,.2f}",
                         "Total Purchase Value": "${:,.2f}",
                         "Average Purchase Total per Person by Age Group": "${:,.2f}"})
clean_age_demo

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [140]:
top_spender_stat= purchase_data.groupby("SN")
top_spender_count = top_spender_stat["Purchase ID"].count()
avg_purchase_price_spender = top_spender_stat["Price"].mean()
purchase_total_spender = top_spender_stat["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count": top_spender_count,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

clean_top_spenders = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
clean_top_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [144]:
items_df= purchase_data[["Item ID", "Item Name", "Price"]]

item_info =items_df.groupby(["Item ID","Item Name"])

item_purchase_count = item_info["Price"].count()
item_purchase_cost = (item_info["Price"].sum()) 
item_price = item_purchase_cost/item_purchase_count

popular_items_df = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_purchase_cost})

clean_popular_items_df= popular_items_df.sort_values(["Purchase Count"], ascending=False).head()

clean_popular_items_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [148]:
profitable_items_df = popular_items_df.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
profitable_items_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})